nav {
  padding: 5px 15px;
  .dashboard-text {
    color: #fff;
    margin: 2px 0px 10px 27px;
    font-size: 19px;
    font-weight: 400;
  }
  div {
    &::before {
      display: block;
      margin: auto;
      content: "";
      border-top: 1px solid #c6bbf4;
      width: 90%;
    }
    p {
      padding: 0;
      margin: 25px 0px 0px 0px;
      font-weight: 600;
      font-size: 19px;
      color: #fff;
    }
    ul {
      padding: 0px 0px 0px 20px;
      margin-top: -3px;
      li {
        list-style: none;
        line-height: 45px;
        a {
          color: #c6bbf4;
          text-decoration: none;
        }
      }
    }
  }
}
